<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Portal Neurodiverso</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1 style="text-align: center;">Portal Neurodiverso</h1>
    <nav>
        <a href="/">inicio</a> |
        <a href="/sobre">Sobre</a> |
        <a href="/dicas">Dicas</a>
    </nav>
</header>
<hr>
<br><br>
