<%- include('partials/header') %>

<section>

<h2>Bem-vindo ao nosso espaço dedicado ao TEA (Transtorno do Espectro Autista)</h2>

<p style="font-size:25px;">O Autismo faz parte da diversidade humana. Cada pessoa dentro do espectro possui suas próprias características, habilidades e desafios <br> e é justamente essa singularidade que torna o TEA tão amplo e fascinante. Este site foi criado para informar, apoiar e acolher famílias, profissionais e qualquer pessoa interessada em compreender melhor o Transtorno do Espectro Autista.

Aqui, você encontrará conteúdos confiáveis, linguagem acessível e temas essenciais sobre desenvolvimento, diagnóstico, direitos, inclusão, terapias, educação e convivência no dia a dia. Nosso compromisso é promover conhecimento,  combater estigmas e ampliar a conscientização, sempre com respeito e sensibilidade. <br>

Seja você um familiar, educador, profissional da saúde ou alguém que busca aprender mais, este é um espaço seguro para trocar experiências, encontrar orientações e celebrar a neurodiversidade.

Juntos, podemos construir uma sociedade mais inclusiva, informada e empática.</p>

</section> 



<%- include('partials/footer') %>
