
<%- include('partials/header') %>

<section>

<h2 style="font-size:40px">informações sobre o (TEA)</h2>
<p style="font-size:25px ;"> O Transtorno do Espectro Autista (TEA) é uma condição do neurodesenvolvimento que acompanha a pessoa ao longo da vida e influencia a forma como ela se comunica, interage, aprende e percebe o mundo. Cada indivíduo dentro do espectro é único — por isso usamos o termo “espectro”, que representa a diversidade de características, habilidades e necessidades de apoio.
  </p>
</section>

<section>
<h1 style="font-size:30px">Níveis do Autismo</h1>
<ul>
    <li style="font-size: 25px;">Nível 1 – Suporte Leve:
    Dificuldade social leve; pode precisar de apoio para lidar com mudanças e interações.</li><br>
    <li style="font-size: 25px;">Nível 2 – Suporte Moderado:
    Maior dificuldade de comunicação e comportamento; precisa de apoio mais frequente no dia a dia.</li><br>
    <li style="font-size:25px">Nível 3 – Suporte Intenso:
    Dificuldade significativa de comunicação e flexibilidade; necessita de suporte constante.</li>
</ul>

</section>

<section>
<h1 style="font-size: 40px;">principais características</h1>
<h2 style="font-size: 30px;margin: 20px;"> comunicação e linguagem</h2>
<ul>
 
  <li style="font-size: 25px;">Dificuldade em manter conversas</li>
  <li style="font-size: 25px;">Interpretação literal das palavras</li>
  <li style="font-size: 25px;">Gestos e expressões reduzidas</li>
  <li style="font-size: 25px;">Em alguns casos, atraso na fala ou ausência de fala</li>

</ul>

<h2 style="font-size: 30px; ;">Interação social</h2>
<ul>
 
  <li style="font-size: 25px;">Dificuldade em entender emoções e intenções alheias</li>
  <li style="font-size: 25px;">Preferência por atividades solitárias</li>
  <li style="font-size: 25px;">Dificuldade em fazer e manter amizades</li>
  <li style="font-size: 25px;">Pouco contato visual</li>

<h2 style="font-size: 30px;">comportamento repetitivos</h2>
 <ul> 
    <li style="font-size: 25px;">Movimentos repetitivos (balançar, bater palmas, alinhar objetos)</li>
    <li style="font-size: 25px;">Rotinas rígidas e resistência a mudanças</li>
    <li style="font-size: 25px;">Interesses intensos e restritos em tópicos específicos</li>
    <li style="font-size: 25px;">Hipersensibilidade ou hipossensibilidade a estímulos sensoriais (sons, luzes, texturas)</li>
 

</section>

<section>
  <h2 style="font-size: 30px;">diagnóstico</h2>
 
  <p style="font-size: 25px;">O diagnóstico de TEA é essencialmente clínico, feito a partir das observações da criança, entrevistas com os pais e aplicação de instrumentos específicos. Instrumentos de vigilância do desenvolvimento infantil são sensíveis para detecção de alterações sugestivas de TEA, devendo ser devidamente aplicados durante as consultas de puericultura na Atenção Primária à Saúde. O relato/queixa da família acerca de alterações no desenvolvimento ou comportamento da criança tem correlação positiva com confirmação diagnóstica posterior, por isso, valorizar o relato/queixa da família é fundamental durante o atendimento da criança.

Manifestações agudas podem ocorrer e, frequentemente, o que conseguimos observar são sintomas de agitação e/ou agressividade, podendo haver auto ou heteroagressividade. Estas manifestações ocorrem por diversos motivos, como dificuldade em comunicar algo que gostaria, alguma dor, algum incômodo sensorial, entre outros. Nestes momentos é fundamental tentar compreender o motivo dos comportamentos que estamos observando, para então propor estratégias que possam ser efetivas. Dentre os procedimentos possíveis temos: estratégias comportamentais de modificação do comportamento, uso de comunicação suplementar e/ou alternativa como apoio para compreensão/ expressão, estratégias sensoriais, e também procedimentos mais invasivos, como contenção física e mecânica, medicações e, em algumas situações, intervenções em unidades de urgência. </p>

</section>


<%- include('partials/footer') %>

